#sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  width: 180px;
  padding: 20px;
  background-color: #f9f9f9;
  height: 100%;
  border-right: 1px solid #ddd;
  text-align: center;
  z-index: 1000;
}

/* 본문 영역 반응형 조정 */
main {
  margin-left: 200px;
  padding: 20px;
  max-width: calc(100% - 200px);
  box-sizing: border-box;
}
